.circle-icon {
  width: 56px;
  height: 56px;
  background: url('/assets/images/ellipse1.svg') no-repeat center center;
  position: relative;
  left: auto;
  right: auto;
  top: -28px;
}

.main-box {
  padding-top: 32px !important;
}

.tittle-box {
  width: 170px;
}

.sub-tittle-box {
  width: 198px;
  font-size: x-small;
}
